---
import "../global.css";
import WelcomeForm from "../components/form";
//import RecomendationCard from "../components/recomendation-card.astro";
//import AllCard from "../components/all-card.astro";
//import CountDown from "../components/countdown";
import {
	ALL_IN_ONE,
	customConfig,
	MAKE_IT_HAPPEN,
	MEDIA_IMAGES,
	MEDIOS_IMAGES,
} from "../config/lists";
import MediaLogos from "../components/media-logos.astro";

import Carrousel from "../components/carrousel";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Shareflow</title>

		<script>
			(function (h, o, t, j, a, r) {
				h.hj =
					h.hj ||
					function () {
						(h.hj.q = h.hj.q || []).push(arguments);
					};
				h._hjSettings = { hjid: 2995590, hjsv: 6 };
				a = o.getElementsByTagName("head")[0];
				r = o.createElement("script");
				r.async = 1;
				r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
				a.appendChild(r);
			})(
				window,
				document,
				"https://static.hotjar.com/c/hotjar-",
				".js?sv="
			);
		</script>

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script
			async
			src="https://www.googletagmanager.com/gtag/js?id=G-0DKPWLX1P9"
		></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}
			gtag("js", new Date());

			gtag("config", "G-0DKPWLX1P9");
		</script>

		<script>
			(function (w, d, s, l, i) {
				w[l] = w[l] || [];
				w[l].push({
					"gtm.start": new Date().getTime(),
					event: "gtm.js",
				});
				var f = d.getElementsByTagName(s)[0],
					j = d.createElement(s),
					dl = l != "dataLayer" ? "&l=" + l : "";
				j.async = true;
				j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
				f.parentNode.insertBefore(j, f);
			})(window, document, "script", "dataLayer", "GTM-WGC42PH");
		</script>

		<script
			id="ze-snippet"
			src="https://static.zdassets.com/ekr/snippet.js?key=05ed8143-c9b3-4762-805f-5dc5694d390b"
		></script>
	</head>
	<body >
		<noscript
			><iframe
				src="https://www.googletagmanager.com/ns.html?id=GTM-WGC42PH"
				height="0"
				width="0"
				style="display:none;visibility:hidden"></iframe></noscript
		>
		<header class="bg-image-banner">
			<div class="flex  text-secondary max-w-[1580px] pt-[72px] pb-[50px] px-[40px]">
				<div class="mt-[51] pl-[0]">
					<img src="logo-white.svg" alt="logo shareflow" class="w-[217px] h-[auto]" />
				</div>
				<section>
				<div class="flex-grow flex w-full mt-[62pxpx] m-0 pr-0 pl-[150px] gap-14">
					<div class="flex">
						<h3 class="font-ceraLight text-[18px] flex-shrink-0">Paso a paso <span class="font-ceraBold">Campaña</span></h3>
					</div>
					<div class="flex">
						<h3 class="flex-shrink-0  font-ceraLight text-[18px] mr[28px]">Beneficios <span class="font-ceraBold">Shareflow</span></h3>
					</div>
					<div class="flex-shrink-0 flex justify-end  items-center w-auto ml-[180px] gap-2 ">
						<h3 class="font-ceraLight text-[24px] flex-shrink-0 pr-2">Iniciar <span class="font-ceraBold">Sesion</span></h3>
						<WelcomeForm
								text="Prueba Gratis"
								client:only="react"
							/>
					</div>
				</div>
				</div>
				<!--empiezo texto e imagen -->
				<div class="flex  w-auto bg-red-500">
					<div class=" flex w-[820px] flex-col mt-[309px] mr-0 ml-[150px] font-ceraLight bg-red-300">
						<h3 class="text-[60px] flex-shrink-0 font-ceraLight text-primary leading-70" >¡Tu
							 campaña en medios <br/>
							<span class="font-ceraBold flex-shrink-0">digitales lista en cuestión 
							de minutos!</span></h3>
							
							<p class=" mt-[2px] text-primary text-[24px] 
							font-ceraLight">Con Shareflow,
								 podrás consolidar tu presencia en los 
								principales medios digitales del país, catapultando
								 tu marca hacia un nivel superior de reconocimiento
								  y éxito.</p>
								  <WelcomeForm
								  text="Iniciar Prueba Gratuita"
								  client:only = "react"
								  />						
					</div>
					<!--empiezo  imagen -->
					<div class=" bg-red-200 flex-shrink-0 hidden lg:block lg:w-[500px] lg:xl:aspect-[500/500]
					xl:w-[700px] xl:aspect-[700/700]">
					   <img src="phone.banner.png"
					   class=" ml-[57px] mr- mt-[152px] w-[728px]"/>
					   
				   </div>	
					</div>	
					<!-- texto abajo -->
					<div class="flex ml-[333px]">
					<p class="font-ceraLight text-primary text-[24px] ">Shareflow te ofrece la oportunidad de destacar en los
						 medios y plataformas más influyentes del país.</p>	
					</div>
				
			<div>
		</header>
		<!--aqui empeizo la segunda seccion -->
		<section class="flex bg-primary">

		</section>
		
		
		
				<Carrousel client:only="react" images={MEDIA_IMAGES} /> 
				
				
				
			</body>
		</html>