---
import Numbers from "../components-astro/numbers.astro";
import "../global.css";
import Text from "../components-astro/Text.astro";
import WelcomeForm from "../components/form";
import Tab from "../components/time-line";
import EmailInput from "../components/email-input";
import HamburguerMenu from "../components/hamburguer-menu";
//import RecomendationCard from "../components/recomendation-card.astro";
//import AllCard from "../components/all-card.astro";
//import CountDown from "../components/countdown";

import {
  // ALL_IN_ONE,
  customConfig,
  // MAKE_IT_HAPPEN,
  MEDIA_IMAGES,

  //MEDIOS_IMAGES,
} from "../config/lists";
import MediaLogos from "../components/media-logos.astro";

import Carrousel from "../components/carrousel";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Shareflow</title>

    <script>
      (function (h, o, t, j, a, r) {
        h.hj =
          h.hj ||
          function () {
            (h.hj.q = h.hj.q || []).push(arguments);
          };
        h._hjSettings = { hjid: 2995590, hjsv: 6 };
        a = o.getElementsByTagName("head")[0];
        r = o.createElement("script");
        r.async = 1;
        r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
        a.appendChild(r);
      })(window, document, "https://static.hotjar.com/c/hotjar-", ".js?sv=");
    </script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-0DKPWLX1P9"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-0DKPWLX1P9");
    </script>

    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
          "gtm.start": new Date().getTime(),
          event: "gtm.js",
        });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-WGC42PH");
    </script>

    <script
      id="ze-snippet"
      src="https://static.zdassets.com/ekr/snippet.js?key=05ed8143-c9b3-4762-805f-5dc5694d390b"
    ></script>
  </head>
  <body>
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-WGC42PH"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe></noscript
    >
    <header
      class="bg-gradiente-custom px-[20px] py-[20px] md:pb-[80px] md:pt-[40px]"
    >
      <nav class="w-full mb-[80px] flex items-center justify-between gap-14">
        <picture>
          <img
            src="logo-white.svg"
            alt="logo shareflow"
            class="w-[150px] h-[auto]"
          />
        </picture>
        <div class="items-center flex-1 justify-between hidden lg:flex">
          <div class="flex gap-6 items-center">
            <a href="#flow" class="text-[#ffffff99]">
              Paso a paso <strong class="text-white">Campaña</strong>
            </a>
            <a href="#benefits" class="text-[#ffffff99]">
              Beneficios <strong class="text-white">Shareflow</strong>
            </a>
          </div>
          <div class="flex gap-3 items-center">
            <a class="text-[#ffffff99]">
              Iniciar <strong class="text-white">Sesion</strong>
            </a>
            <WelcomeForm
            text="Prueba  Gratis"
            type="third"
            client:only="react"
            />
          </div>
        </div>
      </nav>
      <section class="max-w-7xl m-auto lg:flex lg:gap-8 lg:items-center mt-10">
        <article class="flex flex-col items-center mb-[40px] lg:w-[50%]">
          <h2
            class="text-[40px] md:text-[44px] font-ceraLight lg:text-left
          text-primary text-center text-[#ffffff99] mb-5 leading-[52px]"
          >
            ¡Tu campaña en medios <span class="font-ceraBold text-white"
              >digitales lista en cuestión de minutos!</span
            >
          </h2>
          <p
            class="text-[20px] font-ceraLight text-[#ffffff99] text-center mb-8 lg:text-left"
          >
            Con Shareflow, podrás consolidar tu presencia en los principales
            medios digitales del país, catapultando tu marca hacia un nivel
            superior de reconocimiento y éxito.
          </p>
          <div class="w-full sm:flex md:justify-center">
            <EmailInput client:only="react" />
          </div>
        </article>
        <article class="lg:w-[50%] md:max-w-[700px] md:m-auto">
          <picture class="">
            <img src="phone.banner.webp" class="" alt="imagen de celular" />
          </picture>
        </article>
      </section>
      <p
        class="font-ceraLight text-primary text-[20px] text-center mb-10 text-[#ffffff99]"
      >
        Shareflow te ofrece la oportunidad de destacar en los
        <span class="font-ceraBold text-white">
          medios y plataformas más influyentes del país</span
        >
      </p>
      <div class="max-w-8xl m-auto">
        <Carrousel client:only="react" images={MEDIA_IMAGES} />
      </div>
    </header>
    <section class="px-[20px] py-[30px] md:py-[80px]" id="flow">
      <div class="max-w-7xl m-auto">
        <h3
          class="font-ceraLight leading-33 text-third text-[30px] lg:text-[50px] text-center mb-12"
        >
          ¿Cómo crear
          <span class="font-ceraBold text-black">tu campaña?</span>
        </h3>
        <Tab client:only="react" />
        <div class="mt-5 m-auto flex justify-center">
          <WelcomeForm
            text="¡Inicia tu Campaña!"
            type="secondary"
            client:only="react"
          />
        </div>
      </div>
    </section>
    <section id="benefits" class="bg-[#5F4092] px-[20px] py-[50px]">
      <div class="flex flex-col gap-4 max-w-7xl m-auto">
        <Text />
        <div class="m-auto mt-[30px]">
          <WelcomeForm
            text="Iniciar Prueba Gratuita"
            type="third"
            client:only="react"
          />
        </div>
      </div>
    </section>
    <section>
      <div class="max-w-7xl m-auto mb-[50px]">
        <Numbers />
        <div class="hidden md:flex md:justify-center w-full md:mt-[50px]">
          <WelcomeForm
            type="fourth"
            text="¡Inicia tu Campaña!"
            client:only="react"
            className="m-auto"
          />
        </div>
      </div>
    </section>
    <footer
      class="bg-gradiente-custom flex flex-col px-[20px] py-[30px] md:pt-[80px] pb-[30px] text-white"
    >
      <!-- Cuadro uno -->

      <div class="flex flex-col">
        <div class="flex">
          <div class="flex-1 w-full md:max-w-[600px]">
            <picture class="w-[150px] mb-6">
              <img src="logo-white.svg" alt="logo shareflow" />
            </picture>
            <p class="text-white text-[#ffffff99] mt-6 md:text-[20px]">
              Con Shareflow, podrás consolidar tu presencia en los principales
              medios digitales del país, catapultando tu marca hacia un nivel
              superior de reconocimiento y éxito.
            </p>
            <div class="my-8">
              <EmailInput client:only="react" type="third" />
            </div>
          </div>
          <picture  class="mb-4 flex-1 justify-center items-center hidden lg:flex">
            <img src="logo-white.svg" alt="logo shareflow " class="min-w-[800px] opacity-20" />
          </picture>
        </div>

        <div class="text-[14px] justify-between border-t mt-8 pt-4 hidden lg:flex">
          <p class="text-white font-ceraBold">
            © 2023 Shareflow. Todos los derechos reservados.
          </p>
          <div class="flex items-center gap-5">
            <div class="flex items-center">
              <p class="text-[14px] font-bold  border-r pr-5">
                Políticas de Privacidad
              </p>
              <p class="font-bold pl-5">Nuestras redes</p>
            </div>
            <picture
            class="bg-white w-[32px] h-[32px] rounded-full flex justify-center items-center"
          >
            <img
              src="linkedin.webp"
              alt="logo instagram"
              class="w-[20px] h-[24px]"
            />
          </picture>
          <picture
              class="bg-white w-[32px] h-[32px] rounded-full flex justify-center items-center"
            >
              <img
                src="instagram.webp"
                alt="logo linkedin"
                class="w-[20px] h-[24px]"
              />
            </picture>
          </div>
        </div>

       <div class="lg:hidden">
        <p class="font-bold mb-4">Nuestras redes</p>

        <div class="flex gap-2 items-center mb-3">
          <picture
            class="bg-white w-[32px] h-[32px] rounded-full flex justify-center items-center"
          >
            <img
              src="linkedin.webp"
              alt="logo instagram"
              class="w-[20px] h-[24px]"
            />
          </picture>
          <p class="text-[#ffffff99]">Linkedin</p>
        </div>
        <div class="flex gap-2 items-center mb-4">
          <picture
            class="bg-white w-[32px] h-[32px] rounded-full flex justify-center items-center"
          >
            <img
              src="instagram.webp"
              alt="logo linkedin"
              class="w-[20px] h-[24px]"
            />
          </picture>

          <p class="text-[#ffffff99]">Instagram</p>
        </div>

        <p class="border-t border-b py-2 mb-2 text-[14px] font-bold">
          Políticas de Privacidad
        </p>
        <p class="text-white font-ceraBold text-[11px]">
          © 2023 Shareflow. Todos los derechos reservados.
        </p>
        <!-- Cuadro dos -->
      </div>
       </div>
    </footer>
  </body>
</html>
