---
import Carrousel from '../components/carrousel/index'
import {MEDIOS_IMAGES} from '../config/lists'
import {customConfig} from  '../config/lists'
import { Controller } from 'react-hook-form';
import WelcomeForm from '../components/form';
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Shareflow</title>

		<script>
			(function (h, o, t, j, a, r) {
				h.hj =
					h.hj ||
					function () {
						(h.hj.q = h.hj.q || []).push(arguments);
					};
				h._hjSettings = { hjid: 2995590, hjsv: 6 };
				a = o.getElementsByTagName("head")[0];
				r = o.createElement("script");
				r.async = 1;
				r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
				a.appendChild(r);
			})(
				window,
				document,
				"https://static.hotjar.com/c/hotjar-",
				".js?sv="
			);
		</script>

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script
			async
			src="https://www.googletagmanager.com/gtag/js?id=G-0DKPWLX1P9"
		></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}
			gtag("js", new Date());

			gtag("config", "G-0DKPWLX1P9");
		</script>

		<script>
			(function (w, d, s, l, i) {
				w[l] = w[l] || [];
				w[l].push({
					"gtm.start": new Date().getTime(),
					event: "gtm.js",
				});
				var f = d.getElementsByTagName(s)[0],
					j = d.createElement(s),
					dl = l != "dataLayer" ? "&l=" + l : "";
				j.async = true;
				j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
				f.parentNode.insertBefore(j, f);
			})(window, document, "script", "dataLayer", "GTM-WGC42PH");
		</script>

		<script
			id="ze-snippet"
			src="https://static.zdassets.com/ekr/snippet.js?key=05ed8143-c9b3-4762-805f-5dc5694d390b"
		></script>
	</head>
    <!--Estilos y estructura --------------------------------- -->
    <body>
        <!-- permite que google tag mannager se cargue  
         incluso si el usuario tiene JavaScript desactivado. -->
		<noscript
			><iframe
				src="https://www.googletagmanager.com/ns.html?id=GTM-WGC42PH"
				height="0"
				width="0"
				style="display:none;visibility:hidden"></iframe></noscript
		>
		<header>
			<div class= "flex bg-image-banner m-auto max-w-[1580px] pt-[72px] pb-[50px] px-[40px]">
			<div>
				<img src="logo-white.svg"
				alt="logo shareflow"
				class="w-[217px] h-auto"
				/>
				</div>
				<div class="flex ">
				<div>
				<span>Paso a paso Campaña</span>
				</div>
				<div>
				<span>Beneficios Shareflow</span>
				</div>
			    </div>	
				<img
				src="phone.image.png"
				class="hidden lg:block lg:w-[500px] lg:xl:aspect-[500/500] xl:w-[700px] xl:aspect-[700/700]"/>

				<div>
					<h2>Iniciar sesion</h2>
				</div>
				<div>
					<WelcomeForm
								text="Crea tu primera campaña"
								client:only="react"
							/>
				</div>





				</div>
				
			</div>
		</header>
		
		
	</body>
</html>