<div class="px-[20px] py-[50px] flex flex-col md:flex-row lg:pb-[30px] lg:items-start lg:pt-[80px] md:flex-wrap lg:flex-nowrap gap-4">
  <!--primer cuadro -->

  <div class="mb-10 w-[100%]  md:w-[45%] lg:w-[24%] lg:mb-0">
    <p class="font-ceraBold text-[40px] text-center text-[#5f4092] lg:text-[45px]" >
      + $2.000
    </p>
    <p
      class="font-ceraBold text-[24px] text-center leading text-[#5f4092] lg:text-[26px]"
    >
      millones de pesos
    </p>
    <p class="text-[#262525] text-center font-light lg:text-[24px]">
      en inversión de pauta con medios
    </p>
  </div>

  <div class="mb-10 w-[100%]  md:w-[45%] lg:w-[24%] lg:mb-0">
    <p class="font-ceraBold text-[40px] text-center text-[#5f4092] lg:text-[45px]" >
      + 150
    </p>
    <p
      class="font-ceraBold text-[24px] text-center leading text-[#5f4092] lg:text-[26px]"
    >
    medios aliados
    </p>
    <p class="text-[#262525] text-center font-light lg:text-[24px]">
      con los que tenemos negociaciones directas
    </p>
  </div>

  <div class="mb-10 w-[100%]  md:w-[45%] lg:w-[24%] lg:mb-0">
    <p class="font-ceraBold text-[40px] text-center text-[#5f4092] lg:text-[45px]" >
      + $600.000
    </p>
    <p
      class="font-ceraBold text-[24px] text-center leading text-[#5f4092] lg:text-[26px]"
    >
      millones de pesos
    </p>
    <p class="text-[#262525] text-center font-light lg:text-[24px]">
      de impresiones logradas por un año en Colombia
    </p>
  </div>

  <div class="mb-10   md:w-[45%] lg:w-[24%] lg:mb-0">
    <p class="font-ceraBold text-[40px] text-center text-[#5f4092] lg:text-[45px]" >
      + 3000
    </p>
    <p
      class="font-ceraBold text-[24px] text-center leading text-[#5f4092] lg:text-[26px]"
    >
      millones de pesos
    </p>
    <p class="text-[#262525] text-center font-light lg:text-[24px]">
      de impresiones logradas por un año en Colombia
    </p>
  </div>

  <!--parte final del div padre -->
</div>
