<div class="flex  bg-[white] text-fourth justify-center   pt-[120px]  gap-[4%] ">
  <!--primer cuadro -->
  <div class="flex flex-col w-[24%] justify-center items-center  ">
  <div class=" flex   justify-center items-center ">
    <p class="font-ceraBold text-[64px] leading-[85.48px] ">+ $2.000</p>
  </div>
  <div class=" items-center text-center ">
    <p class="font-ceraBold text-[30px] leading-[40.22px] text-fourth pb-[11px] ">millones de pesos</p>
    <p class="text-[#262525] text-[28px] leading-[30px]">en inversión de pauta con medios</p>
  </div>
</div>

  <!--segudno cuadro -->
  <div class="flex flex-col  w-[20%] justify-center items-center  ">
  <div class=  "justify-center">
    <p class="font-ceraBold text-[62px] leading-[85.48px] ">+ 150</p>
  </div>
  <div class=" text-center">
    <p class="font-ceraBold text-[30px] leading-[40.22px] pb-[11px] text-fourth">medios aliados</p>
    <p class="text-[#262525] text-[28px]  leading-[30px]">con los que tenemos negociaciones directas</p>
  </div>
</div>
   <!--tercer cuadro -->
   <div class="flex   flex-col  w-[30%] justify-center items-center  ">
   <div class="justify-center">
    <p class="font-ceraBold text-[62px] leading-[85.48px]">+ $600.000</p>
  </div>
  <div class="text-center">
    <p class="font-ceraBold text-[30px] leading-[40.22px] pb-[11px] text- text-fourth">millones de pesos</p>
    <p class="text-[#262525] text-[28px] leading-[30px]">de impresiones logradas por un año en Colombia</p>
  </div>
</div>
  <!--cuarto cuadro -->
  <div class="flex   flex-col  w-[30%]  justify-center items-center  ">
    <div class="justify-center">
     <p class="font-ceraBold text-[62px] leading-[85.48px]">+ 300</p>
   </div>
   <div class=" text-center">
     <p class="font-ceraBold text-[30px] leading-[40.22px] pb-[11px] text- text-fourth">millones de pesos</p>
     <p class="text-[#262525] text-[28px] leading-[30px]">de impresiones logradas por un año en Colombia</p>
   </div>
 </div>
 
<!--parte final del div padre -->
</div>