---
import Checkicon from "./checkicon.astro";
import Iconoequis from "./Iconoequis.astro";
import "../global.css";

---


  <!-- este es el div fucsia -->
  <div id="benefits"
    class="bg-third flex flex-col flex-1 font-ceraligth text-[20px] text-primary pt-[50px] pb-[50px] lg:pt-[50px] lg:pb-[50px] pl-[40px] pr-[40px] rounded-[28px]"
  >
    <h3 class="text-[40px]">
      Con otras <span class="font-ceraBold">Opciones</span>
    </h3>
    <div class="flex gap-[8px] items-center pt-[43px] pb-[8px]">
      <Iconoequis />
      <p class="font-ceraBold text-[25px]">Selección manual de medios sin soporte.</p>
    </div>
    <p class="font-ceraligth text-[20px]">
      • <span class="font-ceraBold">Requiere aproximadamente 1 semana </span> 
      de planeación de la campaña.
    </p>

    <div class="flex gap-[8px] items-center pt-[12px] pb-[8px]">
      <Iconoequis />
      <h4 class="font-ceraBold text-[25px] ">
        Involucra intermediarios en el proceso de negociación.
      </h4>
    </div>
    <p>
      •<span class="font-ceraBold"> Limitaciones en la compra </span>con los
      de medios y ubicaciones.
    </p>

  
    <div class="flex gap-[8px] items-center pt-[12px] pb-[8px]">
      <Iconoequis />
      <h4 class="font-ceraBold text-[25px]">Cobertura limitada en medios a nivel segmentación.</h4>
    </div>
    <p>
      • <span class="font-ceraBold">Requieres línea de credito  </span>de tu campaña y el y montos minimos de inversión.
    </p>
    
  </div>

  <!--el otro cuadro -->
  <div
    class="bg-white flex flex-col flex-1 font-ceraLight text-[20px] pt-[50px] pb-[50px]
     pl-[40px] pr-[40px] rounded-[28px]"
  >
  <h3 class="text-[40px]">
   Con  <span class="font-ceraBold text-third">  Shareflow</span>
 </h3>
 <div class="flex gap-[8px] items-center pt-[43px] pb-[8px]">
   <Checkicon />
   <p class="font-ceraBold text-[25px]">¡Cuenta con IA que optimiza tu presupuesto!</p>
 </div>
 <p class="font-ceraligth text-[20px]">
   • <span class="font-ceraBold">Tu campaña estará en marcha en </span> tan solo 10 minutos.
 </p>


 <div class="flex gap-[8px] items-center pt-[12px] pb-[8px]">
   <Checkicon />
   <h4 class="font-ceraBold text-[25px] ">
    Puedes comprar medios directamente.
   </h4>
 </div>
 <p>
   •<span class="font-ceraBold"> Más de 150 medios disponibles</span>
 </p> y 300 formatos diferentes.


 <div class="flex gap-[8px] items-center pt-[12px] pb-[8px]">
   <Checkicon />
   <h4 class="font-ceraBold text-[25px]">Alta capacidad de segmentación </h4>
 </div>
 <p>
   • <span class="font-ceraBold">Puedes alcanzar una audiencia  </span>
 </p>de manera precisa y efectiva.
 <p>
   • <span class="font-ceraBold">Contamos con diferentes </span> qmetodos de pago.
 </p>
  <!-- 

-->





