---
import Iconoequis from "./Iconoequis.astro";
---

---
import Checkicon from "./checkicon.astro";
import Iconoequis from "./iconoequis.astro";
import "../global.css";

//import "../global.css"
---


  <!-- este es el div fucsia -->
  <div
    class="bg-third flex flex-col flex-1 font-ceraligth text-[20px] text-primary pt-[50px] pb-[50px] pl-[40px] pr-[40px] rounded-[28px]"
  >
    <h3 class="text-[40px]">
      Con otras <span class="font-ceraBold">Opciones</span>
    </h3>
    <div class="flex gap-[8px] items-center pt-[43px] pb-[8px]">
      <Iconoequis />
      <p class="font-ceraBold text-[25px]">¡Controla tus campañas!</p>
    </div>
    <p class="font-ceraligth text-[20px]">
      • <span class="font-ceraBold">Maneja todas tus campañas</span> de
      marketing en una sola plataforma.
    </p>
    <p>
      • Realiza el seguimiento del desempeño que estás teniendo en tu marca.
    </p>

    <div class="flex gap-[8px] items-center pt-[12px] pb-[8px]">
      <Iconoequis />
      <h4 class="font-ceraBold text-[25px] ">
        ¡Maneja tu estrategia con éxito!
      </h4>
    </div>
    <p>
      •<span class="font-ceraBold"> Gestiona tu plan de marketing </span>con los
      mejores lineamientos.
    </p>

    <p>
      • <span class="font-ceraBold">Recibe recomendaciones</span> que te ayudarán a llegar a más clientes. que
      harán crecer tu negocio.
    </p>
    <div class="flex gap-[8px] items-center pt-[12px] pb-[8px]">
      <Iconoequis />
      <h4 class="font-ceraBold text-[25px]">¡Conoce tus datos!</h4>
    </div>
    <p>
      • <span class="font-ceraBold">Analiza el resultado </span>de tu campaña y el comportamiento de tus clientes.
    </p>
    <p>
      • <span class="font-ceraBold">Obten los enfoques</span> que debes tener para guiar a tu negocio al
      crecimiento y cumplimiento de objetivos.
    </p>
  </div>

  <!--el otro cuadro -->
  <div
    class="bg-white flex flex-col flex-1 font-ceraLight text-[20px] pt-[50px] pb-[50px]
     pl-[40px] pr-[40px] rounded-[28px]"
  >
  <h3 class="text-[40px]">
   Con  <span class="font-ceraBold text-third">  Shareflow</span>
 </h3>
 <div class="flex gap-[8px] items-center pt-[43px] pb-[8px]">
   <Checkicon />
   <p class="font-ceraBold text-[25px]">¡Controla tus campañas!</p>
 </div>
 <p class="font-ceraligth text-[20px]">
   • <span class="font-ceraBold">Maneja todas tus campañas</span> de
   marketing en una sola plataforma.
 </p>
 <p>
   • Realiza el seguimiento del desempeño que estás teniendo en tu marca.
 </p>

 <div class="flex gap-[8px] items-center pt-[12px] pb-[8px]">
   <Checkicon />
   <h4 class="font-ceraBold text-[25px] ">
     ¡Maneja tu estrategia con éxito!
   </h4>
 </div>
 <p>
   •<span class="font-ceraBold"> Gestiona tu plan de marketing </span>con los
   mejores lineamientos.
 </p>

 <p>
   • <span class="font-ceraBold">Recibe recomendaciones</span> que te ayudarán a llegar a más clientes. que
   harán crecer tu negocio.
 </p>
 <div class="flex gap-[8px] items-center pt-[12px] pb-[8px]">
   <Checkicon />
   <h4 class="font-ceraBold text-[25px]">¡Conoce tus datos!</h4>
 </div>
 <p>
   • <span class="font-ceraBold">Analiza el resultado </span>de tu campaña y el comportamiento de tus clientes.
 </p>
 <p>
   • <span class="font-ceraBold">Obten los enfoques</span> que debes tener para guiar a tu negocio al
   crecimiento y cumplimiento de objetivos.
 </p>
  <!-- 

-->

