---
const {number, title} = Astro.props
---

<div class="flex gap-5 items-start mb-[60px]">
    <span class="text-[#FF0354] mt-2 border-2 text-[25px] leading-[35px] rounded-full border-[#FF0354] flex justify-center items-center min-w-[34px] h-[34px] text-center font-ceraNormal">{number}</span>
   <div>
    <h4 class="mb-5 font-ceraNormal text-[25px] leading-[35px]">{title}</h4>
    <slot name="card-description"/>
   </div>
</div>