---
import Button from "./button";
---

<div class="text border-b-2 border-white mb-20 pb-14">
    <div class="flex flex-wrap">
        <picture class="flex-1 min-w-[60%] mb-10">
            <img src="mastek-w.svg" class="justify-between min-w-[133px]" />
        </picture>
        <picture class="flex-1 min-w-[40%] mb-10">
            <img src="tyn-w.svg" class="justify-between w-[63px]" />
        </picture>
        <picture class="flex-1 min-w-[60%] mb-10">
            <img src="gerente-w.svg" class="justify-between min-w-[133px]" />
        </picture>
        <picture class="flex-1 min-w-[40%] mb-10">
            <img src="hsb-w.svg" class="justify-between w-[63px]" />
        </picture>
        <picture class="flex-1 min-w-[60%] mb-10">
            <img src="latinpyme-w.svg" class="justify-between min-w-[133px]" />
        </picture>
        <picture class="flex-1 min-w-[40%] mb-10">
            <img src="acis-w.svg" class="justify-between w-[63px]" />
        </picture>
        <picture class="flex-1 min-w-[60%] mb-10">
            <img src="tecnogus-w.svg" class="justify-between min-w-[133px]" />
        </picture>
        <picture class="flex-1 min-w-[40%] mb-10">
            <img src="valora-w.svg" class="justify-between w-[63px]" />
        </picture>
    </div>
    <Button text='¡Registrarme ahora!' client:only='react' />
</div>
