---
import { MEDIA_IMAGES } from "../config/lists"
---

    <div class="flex flex-wrap items-center gap-[30px]">
        {
            MEDIA_IMAGES.map(({ name, src }, index) => {
                const isPar = index % 2;
                const imgSize = isPar ? 'min-w-[63px]' : 'min-w-[133px]'
                return (
                    <picture
                        class={`mb-[40px] flex flex-1 justify-center`}
                    >
                        <img
                            src={src}
                            class={`justify-between ${imgSize}`}
                            alt={name}
                        />
                    </picture>
                );
            })
        }
    </div>
